<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pizza.css">
</head>
<body>
    <div>
        <header>
            <p>Welcome to Express Pizza</p>
        </header>
        <div><h2>Specialty Pizzas</h2></div>
        <div>
         <p><a href="/specialty-pizzas?name=Anchovy+Lover's">Anchovy Lover's</a></p>
         <p><a href="/specialty-pizzas?name=Paleo+Pizza">Paleo Pizza</a></p>
         <p><a href="/specialty-pizzas?name=Dessert+Pizza">Dessert Pizza</a></p>
        </div>


    </div>
    
</body>
</html>