<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pizza.css">
</head>
<body>
    <h1>Leave a Review!</h1>

    <form action="/review-form-confirm" method="GET">
    
        <p><label for "name">Your Name</label>
        <input name="name" id = "name"></p>

       <p><label for="textArea">Comment</label>
            <textarea name="textArea" id="textArea" cols="4" rows="50"></textarea>
    
    
    
    </form>
</body>
</html>